version: '3'
services:
  db:
    image: mongo
    restart: always
    networks:
      - internal
    ports:
      - '27017:27017'
    volumes:
      - ./data:/data/db

  base:
    image: linuxodyssey/quest-base
    networks:
      - players
    build:
      context: .
      dockerfile: ./quests/Dockerfile
    extra_hosts:
      - 'host.docker.internal:host-gateway'

networks:
  internal:
  players:
    name: linux-odyssey-players
    internal: false
    external: true
