<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <nav class='nav'>
      <div><a href='/'>Home</a></div>
      <div><a href='/users'>Users</a></div>
      <div><a href='/quests'>Quests</a></div>
      <div><a href='/commands'>Commands</a></div>
      <div><a href='/sessions'>Sessions</a></div>
    </nav>
    {{{body}}}
  </body>
</html>